body { 
	 font-family: sans-serif;
   background: #ffffff;
   padding: 10px;
}

h2 {
	font-stretch: narrower;
	font-weight: 500;
  margin: 4px;
}

.hm-title {
  font-size: 2em; 
  display: inline;	
}
	
/* Div that has a blue background surrounding everything */
.hm-wrap-outer {
	 margin: 0;
	 margin-top: 10px;
   background: #c3d9ff;
   right: 0px;
}

.hm-bannerbar-tl {
	height: 5px;
	background: url(bluebox-tl.png) no-repeat top left;
}

.hm-bannerbar-tr {
	height: 5px;
	background: url(bluebox-tr.png) no-repeat top right;
}
.hm-bannerbar-bl {
  height: 5px;
  background: url(bluebox-bl.png) no-repeat bottom left;
}

.hm-bannerbar-br {
  height: 5px;
  background: url(bluebox-br.png) no-repeat bottom right;
}

.hm-wrap-inner {
	margin: 10px 0px 10px 14px;
	background: #ffffff;
}

/* A panel that contains the map and the description of the demo. */
.hm-outerpanel {
	width: 95%;
  margin: 25px 25px 25px 25px;
  padding-right: 25px;
}

/* A panel that contains the  demo list and the map */
.hm-mapinnerpanel { 
   border: 1px solid black;
   padding: 10px;
   background: #c3d9ff;
}

/* A listbox that helps select which demo to navigate to. */
.hm-demolistbox { 
   margin-left: 10px;
}
