.textualZoomControl {
	text-decoration: underline;
	color: #0000cc;
	background-color: white;
	font: small Arial;
	border: 1px solid black;
	padding: 2px;
	margin-bottom: 3px;
	text-align: center;
	width: 6em;
	cursor: pointer;
}