.gsc-control { width: 98% !important; height: 100%; }
.keepPopup { background: white; width: 400px; border: thin solid gray; }
.clips { font-size: small; }
.clipLink { text-decoration: underline; padding-bottom: 0.5ex; cursor: pointer;}