<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <title>Template API Library for GWT Release Notes</title>
      
      <style>
         body {
            background-color: white;
            color: black;
            font-family: Arial, sans-serif;
            font-size: small;
            margin: 20px;
         }

         li {
            margin-bottom: 0.5em;
         }

         li div {
            margin-top: 0.2em;
         }

         code {
            font-size: medium;
         }
      </style></head>

   <body>
      <h1>Template API Library for GWT Release Notes</h1>
      <ul>
	    <li><a href="#Release_Notes_Current">@GWT_VERSION@</a></li>
      </ul>
      <hr/>
      <a name="Release_Notes_Current"></a>
     <h2>Release Notes for @GWT_VERSION@</h2>
       <p> Changes since r??
       </p>
       <ul>
       </ul>
         <h3>Known Issues</h3>
	   <ul>
	   </ul>
   </body>
</html>
