/** Add css rules here for your application. */
button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

img {
  margin-top: 20px;
}

.demoTextArea {
  height: 120px;
  width: 500px;
}

.translationOutputDiv {
  height: 120px;
  width: 500px;
  border-width: 1px;
  border-style: solid;
}

.langDetectionOutputDiv {
	height: 25px;
  width: 400px;
	border-width: 1px;
	border-style: solid;
}
